src/.vs/ChristopherBriddock.Service.Identity/v17/.suo
/src/.vs/ChristopherBriddock.Service.Identity/FileContentIndex/765113b6-474f-40b5-998b-71432374d708.vsidx
/src/.vs/ChristopherBriddock.Service.Identity/FileContentIndex/b7b0763f-6e95-4072-8c49-e35075b62a36.vsidx
